#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Estilo de cada item en el carrito */
.carrito-item {
  display: flex;
  align-items: center;
  gap: 16px;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  justify-content: space-between; /* Asegura que los elementos se distribuyan adecuadamente */
}

/* Estilo de los botones */
button {
  padding: 8px 16px;
  background-color: #3994c5;
  color: white; /* Cambié el color a blanco para mejor visibilidad */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  min-width: 100px; /* Establece un ancho mínimo para los botones */
}

button:hover {
  background-color: #3994c5;
}

/* Estilo del botón de eliminar */
button.eliminar {
  background-color: #ff4c4c; /* Color rojo para el botón de eliminar */
  margin-left: auto; /* Alinea el botón a la derecha */
}

button.eliminar:hover {
  background-color: #ff3b3b; /* Color al pasar el mouse */
}

/* Contenedor de la lista de productos */
.productos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #f7f8fa;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo de la lista de productos */
.productos-lista {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Responsivo */
  padding: 20px;
  background-color: #f7f8fa;
}

/* Estilo de cada producto */
.producto-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s; /* Animación al pasar el mouse */
}

.producto-card:hover {
  transform: scale(1.05); /* Efecto de zoom al pasar el mouse */
}

.producto-card img {
  border-radius: 8px;
  max-width: 100%;
  height: auto;
}

.producto-card h3 {
  font-size: 1.5rem;
  margin: 10px 0;
  color: #333;
}

.producto-card p {
  margin: 4px 0;
  color: #555;
  font-size: 0.9rem;
}

/* Estilo de los botones */
button {
  padding: 10px 20px;
  background-color: #8090f5;
  color: rgb(10, 66, 98);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px; /* Espacio entre el texto y el botón */
}

button:hover {
  background-color: #45a049;
}

