#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.contenedor {
  display: flex; /* Utiliza flexbox para la alineación */
  justify-content: space-between; /* Espacio entre los elementos */
  align-items: flex-start; /* Alinear los elementos en la parte superior */
}

.productos-venta {
  flex: 2; /* Ocupa más espacio que el carrito */
  margin-right: 20px; /* Espacio entre la sección de productos y el carrito */
}

.carrito {
  flex: 1; /* Menos espacio para el carrito */
  border: 1px solid #0b0a0a; /* Borde para el carrito */
  padding: 10px; /* Espaciado interno */
  background-color: #2e2b2b; /* Color de fondo */
  max-height: 400px; /* Altura máxima para que no ocupe demasiado espacio */
  overflow-y: auto; /* Habilita el scroll si hay muchos productos */
}

